@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
*{
  font-family: 'Agdasima', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #2a2a2a;
}